.details__messages__content__margin__or {
  height: 40px;
  width: 620px;
  text-align: center;
  line-height: 50px;
}

.details__content__buy--text {
  font-size: 14px;
  font-weight: 300;
}

.details__messages__content--trading {
  padding: 24px;
  width: 652px;
  height: 100%;
  margin: 0 auto;
}