.finisings
  .finisings__top
    会員登録完了
  .finisings__main
    .finisings__main__context
      ありがとうございます。
      %br/
      会員登録が完了しました。
    = link_to root_path do
      .finisings__main__button
        ホームに戻る
= render "shared/banner"