.breadcrumbs {
  position: relative;
  border-top: 1px solid #eee;
  background: #fff;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  &__list {
    width: 1020px;
    margin: 0 auto;
    padding: 16px 0;
    overflow: visible;
    white-space: normal;
    &  span {
      font-weight: 600;
    }
    &  a {
      text-decoration: none;
      color: #333;
    }
    &  a:hover {
      color: gray;
      text-decoration: underline;
    }
  }
}