- condition = @active
%nav.progress-bar
  %li.is-active
    会員情報
    .progress-status
  %li{class:condition[0]}
    電話番号認証
    .progress-status
  %li{class:condition[1]}
    お届け先住所入力
    .progress-status
  %li{class:condition[2]}
    支払い方法
    .progress-status
  %li{class:condition[3]}
    完了
    .progress-status