// 親要素にrelativeが指定されていた場合に中央寄せする
@mixin absoluteCenter($top: 50%, $left: 50%) {
  position: absolute;
  top: $top;
  left: $left;
  transform: translate(0, -50%);
  transform: translate(0, -50%);
}

// 文字の色、サイズ、太さを決定する
@mixin font_data($color: black, $size: 15px, $weight: normal) {
  color: $color;
  font-size: $size;
  font-weight: $weight;
}

// 高さを設定しテキストの中央寄せを行う
@mixin text_center($height: auto,$align: unset){
  height: $height;
  line-height: $height;
  text-align: $align;
}

//以下のbuttonの親要素に当てる
@mixin buttonParent($height: 50px, $width: 328px) {
  @include text_center($height,center);
  width: $width;
  margin: 0 auto;
  font-size: 14px;
  position: relative;
}

//Facebookのボタン用スタイル
@mixin facebookButton{
  & .fa-facebook-square{
    color: white;
    @include absoluteCenter(50%, 0);
    margin-left: 20px;
  }
  position: relative;
  background-color: $facebookBlue;
  border: solid 1px $facebookBlue;
}

// Googleボタン用のスタイル
@mixin googleButton {
  & img{
    width: 25px;
    @include absoluteCenter(50%,0);
    margin-left: 20px;
  }
  position: relative;
  border: solid 1px #b4b4b4;
  color: black;
}

// 必須アイコン用
@mixin required {
  background-color: $mercariRed;
  font-size: 12px;
  padding: 2px 4px;
  margin-left: 8px;
  color: #fff;
  border-radius: 2px;
  font-weight: 300;
}

// 入力フォーム用
@mixin mercariForm {
  @include reset_form;
  width: 343px;
  height: 48px;
  border: solid 1px #b4b4b4;
  border-radius: 5px;
  &::placeholder {
    padding-left: 10px;
  }
  &:focus{
    border: solid 1px $newRegistrationBlue;
  }
}
// メルカリのリンク
@mixin mercariLink($color:$newRegistrationBlue){
  & a{
    @include reset_a-tag($color);
  }
  &:hover{
    text-decoration:underline;
  }
}

