// 親要素にrelativeが指定されていた場合に中央寄せする
@mixin absoluteCenter($top: 50%, $left: 50%) {
  position: absolute;
  top: $top;
  left: $left;
  transform: translate(0, -50%);
  transform: translate(0, -50%);
}

//Facebookのボタン用スタイル
@mixin facebookButton{
  & a{
    @include reset_a-tag;
  }
  & .fa-facebook-square{
    color: white;
    @include absoluteCenter(50%, 0);
    margin-left: 20px;
  }
  position: relative;
  background-color: $facebookBlue;
  border: solid 1px $facebookBlue;
  border-radius: 5px;
}
}