.contents__outline
  = render "shared/side"
  .contents__outline__right
    .contents__outline__right__inner
      = link_to destroy_user_session_path, method: :delete do
        .contents__outline__right__inner__input
          ログアウト
= render "shared/exhibitbtn"
