.contents__product-information__pickup.contents__product-information__pickup--category
  .contents__product-information__pickup__text
    ピックアップカテゴリー
  .contents__product-information__pickup__categorie
    - for i in 1..4
      = link_to root_path do
        .contents__product-information__pickup__categorie__text
          新着アイテム
        .contents__product-information__pickup__categorie__products
          - for i in 1..4
            = link_to root_path do
              .contents__product-information__pickup__categorie__products__product
                %img{alt: "image", src: "https://static.mercdn.net/thumb/photos/m81721927592_1.jpg?1566790718", class: "contents__product-information__pickup__categorie__products__product__picture"}/
                .contents__product-information__pickup__categorie__products__product__textbox
                  .contents__product-information__pickup__categorie__products__product__textbox__name
                    サンダル
                  .contents__product-information__pickup__categorie__products__product__textbox__num
                    .contents__product-information__pickup__categorie__products__product__textbox__num__price
                      $3,000
                    .contents__product-information__pickup__categorie__products__product__textbox__num__favorite
                      =fa_icon "heart" , class: "contents__product-information__pickup__categorie__products__product__textbox__num__favorite__icon"
                      7
        .contents__product-information__pickup__categorie__link
          全ての商品をみる
.contents__product-information__pickup.contents__product-information__pickup--brand
  .contents__product-information__pickup__text
    ピックアップブランド
  .contents__product-information__pickup__categorie
    - for i in 1..4
      = link_to root_path do
        .contents__product-information__pickup__categorie__text
          新着アイテム
        .contents__product-information__pickup__categorie__products
          - for i in 1..4
            = link_to root_path do
              .contents__product-information__pickup__categorie__products__product
                %img{alt: "image", src: "https://static.mercdn.net/thumb/photos/m81721927592_1.jpg?1566790718", class: "contents__product-information__pickup__categorie__products__product__picture"}/
                .contents__product-information__pickup__categorie__products__product__textbox
                  .contents__product-information__pickup__categorie__products__product__textbox__name
                    サンダル
                  .contents__product-information__pickup__categorie__products__product__textbox__num
                    .contents__product-information__pickup__categorie__products__product__textbox__num__price
                      $3,000
                    .contents__product-information__pickup__categorie__products__product__textbox__num__favorite
                      =fa_icon "heart" , class: "contents__product-information__pickup__categorie__products__product__textbox__num__favorite__icon"
                      7
        .contents__product-information__pickup__categorie__link
          全ての商品をみる