.contents__product-information
  .contents__product-information__special-feature
  .contents__product-information__pickup.contents__product-information__pickup--category
  .contents__product-information__pickup.contents__product-information__pickup--brand
.contents__banner
