.contents__product-information
  .contents__product-information__special-feature
  .contents__product-information__pickup.contents__product-information__pickup--category
    .contents__product-information__pickup__text
      ピックアップカテゴリー
    .contents__product-information__pickup__categorie
      = link_to root_path do
        .contents__product-information__pickup__categorie__text
          新着アイテム
  .contents__product-information__pickup.contents__product-information__pickup--brand
.contents__banner
