.main {
  display: block;
  color: #333;
  &__product {
    width: 700px;
    margin: 0 auto;
    background: #fff;
    &__delivery__sell-box__icon{
      @include absoluteCenter(40%,90%);
      z-index: 10;
      color: gray;
    }
    &__top {
      padding: 32px 16px;
      font-size: 22px;
      line-height: 1.5;
      text-align: center;
      font-weight: bold;
    }
    &__item {
      border-top: 1px solid #eee;
      padding: 40px;
      width: 620px;
      &__area{
        &__flex{
          width: 620px;
          display: flex;
          flex-flow: row wrap;
          justify-content: space-between;
        }
        & .uploadedList{
          max-width: 620px;
          display: flex;
          justify-content: flex-start;
          flex-flow: row wrap;
          & .uploadedItem {
            width: 116px;
            height: 164px;
            border: 1px solid #cecece;
            margin: 16px 3px 0px;
            &__figure{
              width: 116px;
              height: 120px;
              background-color:$backColor;
              position: relative;
              & img{
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                margin: auto;
                max-width: 115px;
                max-height: 115px;
              }
            }
            &__buttons{
              display: flex;
              &__edit{
                width: 50%;
                height: 44px;
                background-color: $backColor;
                text-align: center;
                line-height: 44px;
                font-size: 14px;
                & a{
                  @include reset_a-tag($newRegistrationBlue);
                }
                border-right: 1px solid #cecece;
              }
              &__delete{
                width: 50%;
                height: 44px;
                background-color: $backColor;
                text-align: center;
                line-height: 44px;
                font-size: 14px;
                & a{
                  @include reset_a-tag($newRegistrationBlue);
                }
              }
            }
          }
        }
      }
      &__h1 {
        font-size: 16px;
        font-weight: 600;
        &  span {
          @include required;
        }
      }
      &__h2 {
        margin: 8px 0 0;
        line-height: 1.5;
        font-size: 12px;
      }
      &__h3 {
        display: block;
        margin: 16px auto 0;
        width: 530px;
        padding: 40px;
        position: relative;
        height: 84px;
        background: #f5f5f5;
        border: 1px dashed #ccc;
        cursor: pointer;
        &__context {
          position: absolute;
          top: 25%;
          left: 16px;
          right: 16px;
          text-align: center;
          font-size: 14px;
          white-space: pre-wrap;
          color: #333;
          font-weight: 600;
          &--num4{
            top: 0;
          }
        }
        &--num1{
          width: 410px;
          margin: 16px 0 0;
        }
        &--num2{
          width: 290px;
          margin: 16px 0 0;
        }
        &--num3{
          width: 163px;
          margin: 16px 0 0;
        }
        &--num4{
          width: 42px;
          margin: 16px 0 0;
        }
        &--num5{
          display:none;
        }
      }
    }
    &__name-explain{
      border-top: 1px solid #eee;
      padding: 40px;
      &__h1 {
        font-size: 14px;
        font-weight: 600;
        &  span {
          @include required;
        }
      }
      &__h1-text {
        @include reset_form;
        @include mercariForm(25px,94%);
        margin: 8px 0 0;
        padding: 10px 16px 8px;
        line-height: 1.5;
        font-size: 16px;
        font-family: 'Source Sans Pro', Helvetica , Arial, 'æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“', 'YuGothic', 'ãƒ¡ã‚¤ãƒªã‚ª', 'Meiryo', sans-serif;
      }
      &__h2 {
        font-size: 14px;
        font-weight: 600;
        margin: 40px 0 0;
        &  span {
          @include required;
        }
      }
      &__h2-text {
        margin: 8px 0 0;
        width: 96%;
        min-width: 96%;
        max-width: 96%;
        min-height: 120px;
        padding: 10px;
        border: 1px solid #ccc;
        background: #fff;
        font-size: 16px;
        line-height: 1.5;
        outline: none;
        font-family: 'Source Sans Pro', Helvetica , Arial, 'æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“', 'YuGothic', 'ãƒ¡ã‚¤ãƒªã‚ª', 'Meiryo', sans-serif;
        &:focus{
          border: solid 1px $newRegistrationBlue;
        }
      }
    }
    &__details {
      border-top: 1px solid #eee;
      padding: 40px;
      display: flex;
      justify-content: space-between;
      &__h1 {
        color: #888;
        font-size: 14px;
        font-weight: 600;
      }
      &__sell-box {
        width: 400px;
        margin: 0;
        position: relative;
      }
      &__h2 {
        font-size: 14px;
        font-weight: 600;
        &--margin{
          margin-top: 25px;
        }
        &  span {
          @include required;
        }
        & .label__nini{
          @include arbitrary;
        }
      }
      &__h2-choice {
        position: relative;
        & select{
          @include reset_form;
          @include mercariForm(50px,400px);
          margin-bottom: 10px;
        }
        & input{
          @include reset_form;
          @include mercariForm(50px,388px);
          margin-bottom: 10px;
        }
      }
      &__h3 {
        font-size: 14px;
        font-weight: 600;
        margin: 40px 0 0;
        &  span {
          @include required;
        }
      }
      &__h3-choice {
        position: relative;
        & select{
          @include reset_form;
          @include mercariForm(50px,400px);
          margin-bottom: 10px;
        }
      }
    }
    &__delivery {
      border-top: 1px solid #eee;
      padding: 40px;
      display: flex;
      justify-content: space-between;
      &__h1 {
        color: #888;
        font-size: 14px;
        font-weight: 600;
      }
      &__sell-box {
        width: 400px;
        margin: 0;
        position: relative;
      }
      &__h2 {
        font-size: 14px;
        font-weight: 600;
        margin: 0;
        &  span {
          @include required;
        }
        &--margin{
          margin-top: 40px;
        }
      }
      &__h2-choice {
        position: relative;
        & select{
          @include reset_form;
          @include mercariForm(50px,400px);
          margin-bottom: 10px;
        }
      }
      &__h3 {
        font-size: 14px;
        font-weight: 600;
        margin: 40px 0 0;
        &  span {
          @include required;
        }
      }
      &__h3-choice {
        position: relative;
        & select{
          @include reset_form;
          @include mercariForm(50px,400px);
          margin-bottom: 10px;
        }
      }
      &__h4 {
        font-size: 14px;
        font-weight: 600;
        margin: 40px 0 0;
        &  span {
          @include required;
        }
      }
      &__h4-choice {
        position: relative;
        & select{
          @include reset_form;
          @include mercariForm(50px,400px);
          margin-bottom: 10px;
        }
      }
    }
    &__price {
      border-top: 1px solid #eee;
      padding: 40px;
      height: 218px;
      display: flex;
      justify-content: space-between;
      &__h1 {
        color: #888;
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
      }
      &__sell-box {
        width: 400px;
      }
      &__h2 {
        font-weight: 600;
        font-size: 14px;
        margin: 0;
        line-height: 48px;
        padding: 0 0 24px;
        border: 0;
        &  span {
          @include required;
        }
        & p{
          float: right;
          margin-right: 10px;
          font-size: 11px;
        }
      }
      &__h2-choice {
        position: relative;
        @include reset_form;
        @include mercariForm(50px,160px);
        text-align: right;
        float: right;
        padding: 10px 16px 8px;
        box-sizing: border-box;
        line-height: 1.5;
        font-size: 13px;
        margin-bottom: 10px;
        font-weight: 500;
      }
      &__h3 {
        padding: 24px 0;
        border-top: 1px solid #ccc;
        font-size: 12px;
        width:400px;
        display: flex;
        justify-content: space-between;
      }
      &__h4 {
        padding: 24px 0;
        border-top: 1px solid #ccc;
        font-weight: 600;
        width:400px;
        display: flex;
        justify-content: space-between;
        &__profit{
          font-size:25px;
          font-weight: bold;
        }
      }
    }
    &__btn-box {
      border-top: 1px solid #eee;
      padding: 40px;
      font-size:0;
      &__p {
        font-family: 'Source Sans Pro', Helvetica , Arial, 'æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“', 'YuGothic', 'ãƒ¡ã‚¤ãƒªã‚ª', 'Meiryo', sans-serif;
        font-size: 14px;
        & a{
          @include reset_a-tag(#0099e8);
          margin:0;
          padding:0;
          &:hover{
          text-decoration: underline;
          }
        }
      }
      &__exhibit {
        margin: 40px 0 0;
        background: #ea352d;
        border: 1px solid #ea352d;
        color: #fff;
        display: block;
        width: 100%;
        line-height: 48px;
        font-size: 14px;
        transition: all ease-out .3s;
        cursor: pointer;
        text-align: center;
      }
      &__return {
        & a{
          @include reset_a-tag(#FFFFFF);
        }
        &__box{
          width: 45%;
          margin: 24px auto 0;
          background: #aaa;
          border: 1px solid #aaa;
          color: #fff;
          display: block;
          line-height: 48px;
          font-size: 14px;
          transition: all ease-out .3s;
          cursor: pointer;
          text-align: center;
        }
      }
    }
  }
}
.hiddenInputForDetails{
  display: none;
}

.hiddenInputForDelivery{
  display: none;
}
.editMain{
  display: none;
}
.loadingArea{
  width: 700px;
  height: 425px;
  background-color: #FFFFFF;
  margin: 0 auto;
  position: relative;
  &__image{
    position:absolute;
    left:50%;
    top:40%;
    margin-left:-30px;
  }

}
