.deviseSignup{
  width: 700px;
  height: 1380px;
  margin: 0 auto;
  background-color: #FFFFFF;
  &__label{
    font-weight: bold;
    font-size: 14px;
  }
  &__required{
    @include required;
  }
  &__top{
    @include text_center(97px,center);
    @include font_data($mercariBlack,22px,bold);
    border-bottom: solid 1px $backColor;
  }
  &__context{
    margin-top: 32px;
    @include font_data($mercariBlack, 15px, bold);
    &__info{
      @include font_data($mercariBlack, 14px, 400);
    }
  }
  &__alert{
    @include font-data(gray, 14px, 400);
    margin-bottom: 32px;
  }
  &__terms{
    margin-top: 32px;
    @include font-data($mercariBlack,14px,400);
    text-align: center;
    & a{
      @include reset_a-tag($newRegistrationBlue);
      &:hover{
        text-decoration:underline;
      }
    }
  }
  &__submit{
    @include buttonParent(50px,343px);
    background-color: $mercariRed;
    margin-top: 32px;
    &:hover{
      background-color: darken($mercariRed,5%);
      transition: 0.3s ease-in-out;
    }
    & input{
      width: 100%;
      height: 100%;
      color: #FFFFFF;
    }
  }
  &__info{
    margin-top: 32px;
    font-size: 14px;
    & .fa{
      color: $newRegistrationBlue;
    }
    text-align: right;
    @include mercariLink;
  }
  &__form{
    height: 1283px;
    &__area{
      height: 100%;
      width: 343px;
      margin: 0 auto;
      & input{
        @include reset_form;
      }
      & select{
        @include reset_form;
      }
      & .field{
        margin-top: 32px;
        & input{
          @include mercariForm;
        }
        & select{
          @include mercariForm;
        }
        &--half{
          &__flex{
            display: flex;
            justify-content: space-between;
            & input{
              width: 160px;
              margin: 5px;
            }
          }
        }
        &--third{
          &__flex{
            display: flex;
            justify-content: space-between;
            line-height: 48px;
            & select{
              width: 75px;
            }
            & .fa{
              @include absoluteCenter($left: 70%);
              color: gray;
            }
            &__birthday{
              position: relative;
            }
          }
        }
      }
    }
  }
}