.devisePassword{
  width: 700px;
  height: 550px;
  background-color: #FFFFFF;
  margin: 0 auto;
  &__top{
    @include mercariTitle(97px);
  }
  &__form{
    width: 450px;
    margin: 0 auto;
    padding-top: 50px;
    &__margin{
      width: 320px;
      margin: 0 auto;
      &__email{
        & label{
          @include font_data($mercariBlack,14px,bold);
        }
        & input{
          @include reset_form;
          @include mercariForm(48px,320px);
          margin-top: 7px;
        }
      }
      &__info{
        margin: 7px 0 40px;
        @include font_data(gray, 12px);
      }
      &__recaptcha{
        margin-bottom: 40px;
      }
      &__submit{
        @include buttonParent;
        text-align: center;
        background-color: $mercariRed;
      }
      & a{
        @include reset_a-tag(#FFFFFF);
      }
    }
  }
}